:root {
    --blue: #2563EB;
    --gray900: #0F172A;
    --gray600: #475569;
    --border: #e2e1e1;
    --white: #fff;
    --roboto: 'Roboto', sans-serif;
}   
                                                               